<!DOCTYPE html>
<html lang="en">
<body>
<div>To see default greeting, enter next URL: /hello</div>
>
<div>To see greeting with optional name: /hello?name=...</div>
>
<div>To see all employees in DATABASE: /all</div>
>
<div>To add new employee: /add?first_name=...&second_name=...&job=...</div>
</body>
</html>